.first_block {
	display: flex;
	max-width: 1219px;
	display: flex;
	margin: auto;
	align-items: center;
}

.hero_inner {
	max-width: 470px;
}

.title {
	font-size: 64px;
	line-height: 80px;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	width: 356px;
	height: 160px;
	color: #202336;
	margin-bottom: 74px;
}

.paragraph {
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	/* identical to box height */
	color: #202336;
}

.line {
	width: 32px;
	margin-bottom: 48px;
}

.general_optional_sections {
	margin-bottom: 47px;
}

.optional,
.optional_part2 {
	margin-left: -32px;
}

.optional_part2 {
	margin-top: 35px;
}

.optional_button {
	width: 220px;
	height: 52px;
	margin-left: 31px;
	border: 0.8px solid #AFB0B9;
	box-sizing: border-box;
	border-radius: 6px;
	padding-left: 31px;
}

.button_header_explore {
	width: 180px;
	height: 52px;
	background: #FB8F1D;
	border-radius: 8px;
	border-color: #FB8F1D;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 60px;
	color: #fff;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
}

.first_photo {
	margin-left: 600px;
	margin-top: -600px;
	-webkit-animation: mover 2s infinite alternate;
	animation: mover 2s infinite alternate;
}